body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#game-container {
    display: grid;
    gap: 5px 5px;
    width: 260px;
    margin: 20px auto;
    grid-template-columns: repeat(4, 60px);
}

.cell {
    width: 60px;
    height: 60px;
    background-color: lightgray;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
}

.revealed-cell{
    background-color: white;
    text-align: center;
    line-height: 1.2;
}

.crash-cell{
    background-color: rgb(255, 117, 117);
}

.blocked{
    background-color: rgb(90, 90, 90);
}

.bet-container {
    margin: 10px 0;
}

#bet-input {
    width: 100px; /* Ajuste conforme necessário */
    padding: 5px;
    font-size: 16px;
}

#feedback-display{
    margin-top: 50px;
    font-size: 24px;
    color: red;
    text-align: center;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
}

button {
    padding: 10px 15px;
    font-size: 17px;
    cursor: pointer;
}